[submodule "projects/social-media-etl"]
	path = projects/social-media-etl
	url = https://github.com/Martin-7251/social-media-etl.git
[submodule "projects/football-stadium-analysis"]
	path = projects/football-stadium-analysis
	url = https://github.com/Martin-7251/football-stadium-analysis.git
